<h1>3 | Forms</h1>
<!-- Section 1 -->

<h2>Template-Driven Forms</h2>

<!-- Exercise 1 -->
<h3>Excercise 1</h3>
<p>
  In this example we want to create a simple template-driven form. For
  registering for a new website. There is a few steps we need to undertake.
</p>

<ol>
  <li>
    Take a look at the <code>app.component.ts</code> you will find an interface
    <code>User</code>, which contains all the data fields a newly registered
    user might require.
  </li>
  <li>
    As we want to use forms in this exercise, the <code>FormsModule</code> needs
    to be imported and injected into our app. Head over to the
    <code>app.module.ts</code> and uncomment the necessary lines there.
  </li>
</ol>


<!-- Insert Answer for Exercise 1.1 -->
<div class="exercise">
  <b>Sign-Up</b>
  <div><span>Name:</span><input/></div>
  <div><span>E-mail</span><input/></div>
  <div><span>Password</span><input/></div>
  <div><span>Confirm Password</span><input/></div>

  <div>
    <div></div>
    <button>Submit form</button>
  </div>
</div>
